{% extends "base/_base.html" %}

{% block content %}
  <h1>Hi, {{ request.user.username }}!</h1>

  <p>Total word lists: {{ word_lists }}</p>
  <p>Total words: {{ words }}</p>
  <p>Week performance: +{{ num_week_words }} new words</p>

  <div class="d-flex justify-content-between align-items-center">
    <div>
      <a style="color: black" class="btn btn-link">
        <i style="font-size: 1.1em" class="fas fa-arrow-left fa-2x"></i>
      </a>
    </div>

    <div>
      <a class="btn btn-light me-2">
        <i style="font-size: 1.1em; font-weight: 300" class="fas fa-edit"></i>
      </a>
      <a class="btn btn-danger">
        <i style="font-weight: 300" class="fas fa-trash-alt"></i>
      </a>
    </div>
  </div>

  <br>
  <div class="row justify-content-left">
    <p style="margin: 0" class="text-muted">noun</p>
    <h3 class="d-inline">tree</h3>

    <div style="margin-top: 8px">
      <ul class="list-unstyled">
        <li class="mb-0"><i class="fa fa-circle bullet"></i> дерево</li>
        <li class="mb-0"><i class="fa fa-circle bullet"></i> дерево</li>
      </ul>
    </div>

    <p class="mt-1">
      - a perennial plant with a trunk and branches
    </p>

    <br>
    <div>
      <select style="margin: 0" class="text-muted">
        <option>noun</option>
        <option>verb</option>
        <option>adjective</option>
        <option>adverb</option>
        <option>pronoun</option>
        <option>preposition</option>
        <option>conjunction</option>
        <option>interjection</option>
        <option>phrase</option>
      </select>
    </div>
    <h3 class="d-inline">
      <input type="text" class="plain-text-input" value="tree"
             placeholder="translation">
    </h3>

    <ul style="margin-top: 8px" class="list-unstyled">
      <li class="mb-0">
        <i class="fa fa-circle bullet"></i>
        <input type="text" class="plain-text-input" value="дерево"
               placeholder="translation">
      </li>
      <li class="mb-0">
        <i class="fa fa-circle bullet"></i>
        <input type="text" class="plain-text-input"
               placeholder="translation">
      </li>
    </ul>

    <hr style="margin: 10px 0 4px; color: #5050520d; opacity: 1;">
    <div class="mt-1">
      <span class="indented">a)</span><span
        class="plain-text-textarea"
        placeholder="definition"
        role="textbox" contenteditable>a perennial plant with a trunk and branches
        </span>
    </div>

    <div class="d-flex">
      <div class="ind">a)</div>
      <div class="flex-grow-1"><span
          class="plain-text-textarea"
          placeholder="definition"
          role="textbox" contenteditable>a perennial plant with a trunk and branches
        </span>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between align-items-center">
    <div class="flex-grow-1">
      <h5 class="d-inline">
        <span class="text-muted">(noun)</span>
        <span>tree</span> -
        <span>дерево</span>
      </h5>
      <p class="mb-0">
        - a perennial plant with a trunk and branches
      </p>
    </div>


    <div class="d-flex">
      <a class="btn btn-link me-2">
        <i style="color: black; font-size: 1.3em;" class="fas fa-info-circle"></i>
      </a>
      <a class="btn btn-link">
        <i style="color: red; font-size: 1.2em; font-weight: 300" class="fas fa-trash-alt"></i>
      </a>
    </div>
  </div>


  <style>
      .ind {
          margin: 0;
          padding: 0;
          width: 1.75em;
          text-align: center;
      }

      .indented {
          margin: 0 7px;
          padding: 0;
      }

      .bullet {
          font-size: 0.5em;
          color: black;
          margin: 0 7px;
          vertical-align: middle;
      }

      .plain-text-input {
          display: inline;
          font-family: inherit;
          font-weight: inherit;
          font-size: inherit;
          margin: 0;
          border: 0;
          padding: 0;
          width: auto;
          max-width: 100%;
          background: none;
          outline: none;
      }

      .plain-text-textarea {
          width: auto;
          border: none;
          background: none;
          padding: 0;
          margin: 0;
          font-size: inherit;
          color: inherit;
          outline: none;
          box-shadow: none;
          resize: none;
          overflow: hidden;
      }

      .plain-text-input::placeholder {
          color: #5151534d;
      }
  </style>

{% endblock %}
