{% extends "base/_base.html" %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mt-3">
    <div>
      {% if word_list_pk %}
        <a href="{% url 'vocabulary:word-list-words-list' list_pk=word_list_pk %}"
           style="color: black" class="btn btn-link">
          <i style="font-size: 1.1em" class="fas fa-arrow-left fa-2x"></i>
        </a>
      {% else %}
        <a href="{% url 'vocabulary:all-words-list' %}"
           style="color: black" class="btn btn-link">
          <i style="font-size: 1.1em" class="fas fa-arrow-left fa-2x"></i>
        </a>
      {% endif %}
    </div>

    <div>
      <div class="d-flex">
        <a
            href="{% url 'vocabulary:word-list-create' %}"
            class="btn btn-link me-2"
        >
          <i style="color: black; font-size: 1.3em;"
             class="fas fa-plus"></i>
        </a>
      </div>
    </div>
  </div>

  <h1>{{ object|yesno:"Update,Create" }} word</h1>
  <form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Submit" class="btn btn-primary">
  </form>
{% endblock %}
