{% extends "base/_base.html" %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mt-3">
    <div>
      <a href="{% url 'vocabulary:word-list-list' %}"
         style="color: black" class="btn btn-link">
        <i style="font-size: 1.2em" class="fas fa-arrow-left"></i>
      </a>
    </div>

    <div>
      <a href="{% url 'vocabulary:word-list-update' pk=wordlist.id %}"
         class="btn btn-link me-2">
        <i style="color: black; font-size: 1.2em; font-weight: 300"
           class="fas fa-edit"></i>
      </a>
      <a href="{% url 'vocabulary:word-list-delete' pk=wordlist.id %}"
         class="btn btn-link">
        <i style="color: red; font-size: 1.2em; font-weight: 300"
           class="fas fa-trash-alt"></i>
      </a>
    </div>
  </div>

  <div class="mt-4">
    <p><strong>Title:</strong> {{ wordlist.title }}</p>
    <p><strong>Description:</strong> {{ wordlist.description }}</p>
    <p><strong>Created at:</strong> {{ wordlist.date_created }}</p>
    <p><strong>Last updated:</strong> {{ wordlist.date_updated }}</p>
  </div>
{% endblock %}
